global
        log /dev/log    local0
        log /dev/log    local1 notice
        stats socket /run/haproxy/admin.sock mode 660 level admin
        stats timeout 30s
        user root
        group root
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # Default ciphers to use on SSL-enabled listening sockets.
        # For more information, see ciphers(1SSL).
        ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL

defaults
        log     global
        mode    tcp
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000

frontend localnodes
    bind *:24601
    mode tcp
    default_backend vaquero

backend vaquero
    mode tcp
    balance roundrobin
    server vs-1 10.10.10.5:24601 check
    server vs-2 10.10.10.6:24601 check
    server vs-3 10.10.10.7:24601 check

listen stats *:24600
    mode http
    stats enable
    stats uri /
